body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  /* overflow: hidden; */
}

.myPhotos {
  display: none;
  flex-direction: column;
  align-items: center;
}

.tools {
  display: flex;
  justify-content: space-between;
  padding: 1vh 2vw;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid black;
  /* height: 20vh; */
  /* overflow: scroll; */
  height: 18vh;
}

.tools > div {
  padding: 1vh 0;
}

button {
  background-color: rgb(255, 255, 255);
  border: 1px rgba(0, 0, 0, 0.3) solid;
  padding: 5px;
  margin: 0 5px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.301);
}

#btnShow {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 10vh;
  padding: 1vh;
}

.myPhotos > img {
  max-width: 80%;
  border: 2px solid;
  margin: 1vh;
  padding: 2px;
  max-height: 50vh;
}

#myCanvas{
    width: 100vw;
    height: 80vh;
    background-color: #fff;
}
#loader{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: #00000061;
}


#loader>img{
  height: 10vh;
}